body {
	background-color: #e8e8e8; 
	
	font-family: 'Open Sans', sans-serif; 
	
	text-align: left;
	
	color: #444444;
    
	font-size: 24px;

    line-height: 1.5;
	margin: 0px;
	
	box-sizing: border-box;
}

content {
	margin-left: 5%;
	margin-right: 5%;
	
	max-width: 40em;
	margin: 1em auto;
	padding: 1em;
}

header {
	background-color: #000000;
	margin-bottom: 1em auto;
}

nav {
	margin-left: 5%;
	margin-right: 5%;
	
	max-width: 40em;
	padding: 1em;
	float: center;
}

nav ul li {
	margin: 0px;
	display: inline;
	text-align: left;
}

nav a, 
nav a:visited, 
nav a:focus { 
    color: #ffffff;
    text-decoration: none; 
    transition: .15s; 
}

nav a:hover { 
    background-color: #E26C3C; 
}

a img { 
    border: 0; 
}