body {
	background-color: #e8e8e8; 
	
	font-family: 'Open Sans', sans-serif; 
	
	text-align: left;
	
	color: #444444;
    
	font-size: 24px;

    line-height: 1.5;
	margin: 0px;
	
	box-sizing: border-box;
}

.container {
	background-color: #e8e8e8;
	margin: 0 auto;
    position: relative;
	max-width: 40em;
	padding: 1em;
}

.header {
	margin-bottom: 1em auto;
	position: relative;
	max-width: 40em;
	padding: 1em;
}

header ul li {
	margin: 0px;
	display: inline;
	text-align: right;
}

nav ul li a, 
nav ul li a:visited, 
nav ul li a:focus { 
    color: #ffffff;
    text-decoration: none; 
    transition: .15s;
	position: relative;
}

nav ul li a:hover { 
    background-color: #E26C3C;
	background-size: 1.5em;
}

a img { 
    border: 0; 
}

.section-title .title-bg {
    background-color: black;
    left: -0.25em;
    height: 1.75em;
    position: absolute;
    right: -0.25em;
    top: -0.25em;
    z-index: -1;
}