@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
	background-color: #000000; 
	
	font-family: 'Open Sans', sans-serif; 
	
	text-align: left;
	
	color: #444444;
    
	font-size: 24px;

    line-height: 1.5;
	margin: 0px;
	
	box-sizing: border-box;
}

footer {
	color: #ffffff;
	box-sizing: border-box;
	line-height: 1;
}

.header {
	margin: 0 auto;
    position: relative;
	max-width: 40em;
	padding: 1em;
}

.container {
	margin: 0 auto;
    position: relative;
	max-width: 40em;
	padding: 1em;
}

.twocol1 {
	width: 50%;
	overflow: hidden;
    float: left;
}

.twocol2 {
	width: 50%;
	overflow: hidden;
}

.header ul li {
	margin: 0px;
	display: inline;
	text-align: right;
}

.header ul li a, 
.header ul li a:visited, 
.header ul li a:focus { 
    color: #ffffff;
    text-decoration: none; 
    transition: .15s;
	position: relative;
}

.header ul li a:hover { 
    background-color: #E26C3C;
	background-size: 1.5em;
}

a img { 
    border: 0; 
}

.section-title .title-bg {
    background-color: black;
    left: -0.25em;
    height: 1.75em;
    position: absolute;
    right: -0.25em;
    top: -0.25em;
    z-index: -1;
}

hr {
    border: none;
    height: 4px;
	width: 80%;
    color: #E26C3C;
    background-color: #E26C3C;
}

@media (max-width: 800px) {	
	body {
		font-size: 12px;
		line-height: 1.5;
	}
	
	.2col1 {
		width: 100%;
	}

	.2col2 {
		width: 100%;
	}
}