<footer>
	<div class="container" style="padding: 0px;">
		<div class="threecol" style="text-align: center;">
			<p style="margin-bottom: 8px;"><a href="http://www.massdigi.org/" target="_blank"><img src="/assets/massdigi.png" style="max-width: 100%;"></a></p>
			<p style="margin-top: 8px;"><a href="https://twitter.com/mass_digi" target="_blank"><img src="/assets/social/twitter.png" style="max-width: 100%;"></a>   <a href="https://www.facebook.com/massdigi" target="_blank"><img src="/assets/social/facebook.png" style="max-width: 100%;"></a>   <a href="https://www.youtube.com/channel/UCzspAPBwot2gSmpTxjEh55Q" target="_blank"><img src="/assets/social/youtube.png" style="max-width: 100%;"></a></p>
		</div>
		<div class="threecol" style="text-align: center;">
			<p style="margin-bottom: 8px;"><a href="http://petricoregames.com/" target="_blank"><img src="/assets/petricore.png" style="max-width: 100%;"></a></p>
			<p style="margin-top: 8px;"><a href="https://twitter.com/PetricoreGames" target="_blank"><img src="/assets/social/twitter.png" style="max-width: 100%;"></a>   <a href="https://www.facebook.com/PetricoreInc/" target="_blank"><img src="/assets/social/facebook.png" style="max-width: 100%;"></a>   <a href="https://www.youtube.com/channel/UCgN1qnsXxKz9JJ2HE5QkXjQ" target="_blank"><img src="/assets/social/youtube.png" style="max-width: 100%;"></a></p>
		</div>
		<div class="threecol" style="text-align: center;">
			<p style="margin-bottom: 8px;"><a href="https://www.yale.edu/" target="_blank"><img src="/assets/yale.png" style="max-width: 100%;"></a></p>
			<p style="margin-top: 8px;"><a href="https://twitter.com/yale" target="_blank"><img src="/assets/social/twitter.png" style="max-width: 100%;"></a>   <a href="https://www.facebook.com/YaleUniversity" target="_blank"><img src="/assets/social/facebook.png" style="max-width: 100%;"></a>   <a href="https://www.youtube.com/yale" target="_blank"><img src="/assets/social/youtube.png" style="max-width: 100%;"></a></p>
		</div>
	</div>
</footer>