@import url('https://fonts.googleapis.com/css?family=Raleway');

body
{
	background-color: #000000;
	color: #444444;
	
	font-family: 'Raleway', sans-serif;
	font-size: 1.5vw;

	line-height: 1.5;

	text-align: left;

	margin: 0;
	padding: 0;
	
	box-sizing: border-box;
}

footer
{
	color: #ffffff;

	text-align: center;

	box-sizing: border-box;
}

.container
{
	margin: 0 auto;
    position: relative;
	max-width: 50vw;

	padding: 0;

	padding-top: 3vw;
	padding-bottom: 3vw;
}

.area
{
	background-color: #4879A0;
	color: #fff;

	padding: 2vw;
	padding-top: 1vw;
	padding-bottom: 1vw;

	margin-top: 2vw;
	margin-bottom: 2vw;
}

.subarea
{	
	padding: 2vw;
	padding-top: 1vw;
	padding-bottom: 1vw;

	margin-top: 2vw;
	margin-bottom: 2vw;
}

h1, h2, h3, h4, h5, h6, p
{
    margin-top: 1vw;
	margin-bottom: 1vw;
}

.twocol1
{
	width: 50%;
	overflow: hidden;
    float: left;
}

.twocol
{
	width: 50%;
	overflow: hidden;
}

.threecol
{
	width: 33%;
	overflow: hidden;
    float: left;
}

a, 
a:visited, 
a:focus
{ 
    color: #4879A0;
    text-decoration: none; 
    transition: .15s; 
}

.area a, 
.area a:visited, 
.area a:focus
{ 
    color: #000;
    text-decoration: none; 
    transition: .15s; 
}

a img
{ 
    border: 0; 
}

header
{
	margin: 0;
    position: relative;
}

header ul
{
	padding: 0;
	padding-top: 2vw;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

header ul li
{
	display: inline;
	text-align: right;
	padding: 0;
}

header ul li a, 
header ul li a:visited, 
header ul li a:focus
{ 
    color: #ffffff;
    text-decoration: none; 
    transition: .15s;
	position: relative;
	padding: 1vw;
}

header ul li a:hover
{ 
    background-color: #4879A0;
}

.current-link
{
    background-color: #4879A0;
}

@media (max-width: 800px) {	
	body {
		font-size: 14px;
		line-height: 1.5;
	}
	
	.header ul li {
		font-size: 12px;
	}
	
	footer {
		font-size: 12px;
		line-height: 0.5;
	}
	
	.twocol {
		width: 100%;
	}
	
	.threecol {
		width: 100%;
	}
}