<!DOCTYPE html>
	<html>
		<head>
			<title>{{ site.name }} | {{ page.title }}</title>
			
			<!-- Mobile -->
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
			<meta name="HandheldFriendly" content="true" />
			
			<!-- Default meta content -->
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<meta http-equiv="content-language" content="en_US" />
			
			<!-- CSS -->
			<!-- <link rel="stylesheet" type="text/css" href="/css/grid.css"> -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		
		<body>
			<header>
				<nav>
					<p><img src="/assets/logo.png"></p>
					<ul>
						<li><a href="/">Home<span class="title-bg"></span></a></li>
						<li><a href="/about.html">About<span class="title-bg"></span></a></li>
						<li><a href="/team.html">Team<span class="title-bg"></span></a></li>
						<li><a href="/download.html">Download<span class="title-bg"></span></a></li>
					</ul>
				</nav>
			</header>
			
			<div class="content">
				{{ content }}
				
				<footer>
					<ul>
						© Mass DiGI 2017
					</ul>
				</footer>
			</div>
		</body>
	</html>
